.filtermodal .modal-wrapper{
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
    background: black
 }
ion-modal.md {
    --background: green;
}

ion-content.md {
    // --max-height: 200px;
    --color: transparent;
    // --background: black;
    --offset-top: 70%
}