<!-- <ion-header>
    <ion-toolbar>
        <ion-icon name="close" (click)="closeModal()"></ion-icon>
        <ion-label>Filter</ion-label>
    </ion-toolbar>
</ion-header>
<ion-content>
       
        <ion-item>
                <ion-input placeholder="Event Title"></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label style="margin:0px">Event Category</ion-label>
                <ion-icon name="arrow-down"></ion-icon>
              </ion-item>
          
              <ion-item>
                <ion-input placeholder="Event Location"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Description</ion-label>
                <small style="float : left">150-300 characters</small>
              </ion-item>
              <ion-textarea class="box" style="height: 100px"></ion-textarea>
          
              <ion-item lines="none">
                <ion-label>Tags</ion-label>
              </ion-item>
              <ion-textarea class="box"></ion-textarea>
             
              <ion-backdrop tappable="false"></ion-backdrop>
                
</ion-content> -->
<ion-title>sgdshdghsd</ion-title>