<ion-app>
  <ion-split-pane when="md">
    <ion-menu side="start" id="side">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-menu-toggle [routerLink]="['tab/profile']" autoHide="false">
            <ion-row>
              <ion-avatar style="margin: 15px 0px 0px 15px">
                <img src="https://picsum.photos/100" />
              </ion-avatar>
            </ion-row>
            <ion-row>
              <ion-title>Abhiram Thakur</ion-title>
            </ion-row>
          </ion-menu-toggle>

        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top [routerLink]="['/settings']" routerLinkActive="router-link-active">
              <img src="../assets/imgs/SystemIcons/settings.svg" class="default-icon" />
              <ion-text class="text">Settings</ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top>
              <img src="../assets/imgs/SystemIcons/info.svg" class="default-icon" />              
              <ion-text class="text">App Info</ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top>
              <img src="../assets/imgs/SystemIcons/FAQ.svg" class="default-icon" />              
              <ion-text class="text">FAQ</ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top>
              <img src="../assets/imgs/SystemIcons/terms and privacy.svg" class="default-icon" />              
              <ion-text class="text">Terms and Privacy</ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top>
              <img src="../assets/imgs/SystemIcons/invite friends.svg" class="default-icon" />
              <ion-text class="text">Invite Friends</ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item padding-top>
              <img src="../assets/imgs/SystemIcons/sign out.svg" class="default-icon" />
              <ion-text class="text">Sign Out</ion-text>
              
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>


</ion-app>