<ion-header>
  <ion-toolbar>
    <ion-buttons padding-end slot="start">
      <img src="../../../assets/imgs/SystemIcons/arrow_back.svg" class="default-icon" [routerLink]="['/tab/home']"
        routerLinkActive="router-link-active" margin-start />
    </ion-buttons>
    <ion-title slot="start">My Story</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
    <div class="divide" padding-top></div>
    <ion-item lines="none" (click)=showEH()>
      <ion-label class="text">Events Hosted</ion-label>
      <img src="../../assets/imgs/SystemIcons/drop_down.svg" class="e-detail" />
    </ion-item>
    <div *ngIf="showEh" lines="none">
      <ion-list *ngFor='let event of events' class="no-padding" mode="md">
        <div [routerLink]="['/events/',event.id]" routerLinkActive="router-link-active" padding-start>
          <ion-grid justify-content="center" class="no-padding" style="margin-top:5px">
    
    
            <ion-row>
              <ion-col size="2">
                <ion-avatar align-items="center" style="height: 56px;width:56px">
                  <img src="../../assets/imgs/category - lifestyle.svg" />
                </ion-avatar>
              </ion-col>
              <ion-col size="7" size-md="6" align-items="center" style="margin-top: 5px;margin-left: 15px; ">
                <p class="subtitle">{{  event.name  }}<br>
                  <span class="subtext">{{ event.category}}
                    <span style="padding-left: 3px;"><img src="../../assets/imgs/SystemIcons/only followers.svg" style="height: 13px; width:13px;" /></span>
                  </span></p>
              </ion-col>
              <ion-col size="2">
                <circle-progress [percent]="45" [title]="['7/15','Joined']"></circle-progress>
              </ion-col>
            </ion-row>
    
            <ion-row class="no-padding">
              <ion-col>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/calendar.svg" class="small-icon" />
                  <span margin-start></span>
                  Fri, Jan 27, 13 Day Event
                </p>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/person (user).svg" class="small-icon" />
                  <span margin-start></span>
                  {{ event.head }}
                </p>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/location.svg" class="small-icon" />
                  <span margin-start></span>
                  {{ event.location }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    
        <div class="no-padding borders">
          <ion-grid class="no-padding">
            <ion-row margin-end>
              <ion-col offset="2">
                <img src="../../assets/imgs/SystemIcons/share.svg" class="card-icon" />
              </ion-col>
              <ion-col offset="1">
                <img src="../../assets/imgs/SystemIcons/star border.svg" class="card-icon" />
              </ion-col>
              <ion-col offset="1">
                <img src="../../assets/imgs/SystemIcons/join event 2.svg" class="card-icon" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
    </div>

    <div class="divide"></div>
    <ion-item lines="none" (click)="showEV()">
      <ion-label class="text">Events Volunteered</ion-label>
      <img src="../../assets/imgs/SystemIcons/drop_down.svg" class="e-detail" />
    </ion-item>

    <div *ngIf="showEv" lines="none">
      <ion-list *ngFor='let event of events' class="no-padding" mode="md" style="background-color: rgb(224, 222, 222)">
        <div [routerLink]="['/events/',event.id]" routerLinkActive="router-link-active" padding-start>
          <ion-grid justify-content="center" class="no-padding" style="margin-top:5px">
    
    
            <ion-row>
              <ion-col size="2">
                <ion-avatar align-items="center" style="height: 56px;width:56px">
                  <img src="../../assets/imgs/category - lifestyle.svg" />
                </ion-avatar>
              </ion-col>
              <ion-col size="7" size-md="6" align-items="center" style="margin-top: 5px;margin-left: 15px; ">
                <p class="subtitle">{{  event.name  }}<br>
                  <span class="subtext">{{ event.category}}
                    <span style="padding-left: 3px;"><img src="../../assets/imgs/SystemIcons/only followers.svg" style="height: 13px; width:13px;" /></span>
                  </span></p>
              </ion-col>
              <ion-col size="2">
                <circle-progress [percent]="45" [title]="['7/15','Joined']"></circle-progress>
              </ion-col>
            </ion-row>
    
            <ion-row class="no-padding">
              <ion-col>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/calendar.svg" class="small-icon" />
                  <span margin-start></span>
                  Fri, Jan 27, 13 Day Event
                </p>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/person (user).svg" class="small-icon" />
                  <span margin-start></span>
                  {{ event.head }}
                </p>
                <p class="infoe">
                  <img src="../../assets/imgs/SystemIcons/location.svg" class="small-icon" />
                  <span margin-start></span>
                  {{ event.location }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    
        <div class="no-padding borders">
          <ion-grid class="no-padding">
            <ion-row margin-end>
              <ion-col offset="2">
                <img src="../../assets/imgs/SystemIcons/share.svg" class="card-icon" />
              </ion-col>
              <ion-col offset="1">
                <img src="../../assets/imgs/SystemIcons/star border.svg" class="card-icon" />
              </ion-col>
              <ion-col offset="1">
                <img src="../../assets/imgs/SystemIcons/join event 2.svg" class="card-icon" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
    </div>
    <div class="divide"></div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" style="height: 64px;width:64px;">
        <img src="../../assets/imgs/SystemIcons/plus for floating button.svg" style="width: 40px;height: 40px;"  [routerLink]="['/createEvent']" routerLinkActive="router-link-active"  />
      </ion-fab-button>
    </ion-fab>

</ion-content>