ion-item.md ion-item.ios {
    width:100%;
    padding: 0px
}

.default-icon {
    height: 30px;
    width: 30px;
}

.small-icon {
    height:18px;
    width:18px
}

.subtext{
    font-size: 13px;
    opacity: 20%;   
    font-family: "DroidSans"; 
    color: gray ;
    padding:0px
   // line-height: 12.2px;     
}

.info{
    font-size: 13px;
    font-family: "DroidSans"; 
    margin-left:10px
   
}
p{
    padding:0px;
    margin-top: -5px
}

.subtitle{
    margin:0 3px 18px;
    font-size: 18px ;
    margin: 0 0px 0px;
    opacity: 87%;
    color:#212121;
    font-family: "DroidSans";
    font-weight: 100; //line-height: 24.2px;
    padding:0px
}
.no-padding {
    padding: 0px
}
.borders {
    border-top: 0.5px solid ;
    border-bottom: 0.5px solid;
    border-color: gray;
}
ion-searchbar {
    padding: 0
}
ion-row ion-col ion-grid {
    padding: 0px;
    margin:0px
}

ion-list {
    padding: 0px
}