<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" margin-end>
      <img src="../../assets/imgs/SystemIcons/Edit.svg" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" >
        <div class="ion-text-center padding">
          <img src="../../assets/imgs/pp.png" class="profile-image" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text class="no-padding name">Abhiram Thakur</ion-text>
          <small class="info"><br>25,MAle<br>Pune,MAharashtra</small>
        </div>
      </ion-col>
    </ion-row>

    <!-- without follow button -->
    <ion-row *ngIf=sameperson>
      <ion-col size="5" offset="1" style="border-right: 0.5px solid #b2b2b2;height: 60px;margin:10px 0 10px 0">

        <div class="ion-text-center" style="margin:10px 0 10px 0">
          <ion-text class="Followers"><b>108<br></b>Following</ion-text>
        </div>
      </ion-col>
      <ion-col size="5" style="height: 60px;margin:10px 0 10px 0">

        <div class="ion-text-center" style="margin:10px 0 10px 0">
          <ion-text class="Followers"><b>145<br></b>Followers</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <!-- with follow button -->
    <ion-row *ngIf=!sameperson style="padding-left:2.5%">
      <ion-col size="4" class="follow-button ion-text-center" padding-start>
        <img src="../../assets/imgs/SystemIcons/person (user).svg" class="follow-icon" />
        <ion-text class="Followers"><br>Follow</ion-text>
      </ion-col>
        <ion-col size="4"  style="border-right: 0.5px solid #b2b2b2;height: 60px;margin:10px 0 10px 0">
  
          <div class="ion-text-center" style="margin:10px 0 10px 0">
            <ion-text class="Followers"><b>108<br></b>Following</ion-text>
          </div>
        </ion-col>
        <ion-col size="4" style="height: 60px;margin:10px 0 10px 0">
  
          <div class="ion-text-center" style="margin:10px 0 10px 0">
            <ion-text class="Followers"><b>145<br></b>Followers</ion-text>
          </div>
        </ion-col>
      </ion-row>


    <div class="detail" item-start >
      <ion-row class="contact" (click)=phoneToggle()>
        <ion-col size="10">
          <img item-start class="e-detail" src="../../assets/imgs/SystemIcons/call.svg">
          <ion-label class="contact-text">8756542452</ion-label>
        </ion-col>
        <ion-col size="2" text-center>
          <img src="../../assets/imgs/SystemIcons/toggle off.svg" *ngIf=!phone />
          <img src="../../assets/imgs/SystemIcons/toggle on.svg" *ngIf=phone />
        </ion-col>

      </ion-row>
    </div>
    <div class="detail" item-start>
      <ion-row class="contact" (click)=emailToggle()>
        <ion-col size="10">
          <img item-start class="e-detail" src="../../assets/imgs/SystemIcons/mail.svg">
          <ion-label class="contact-text">saniyamathur@gmail.com</ion-label>
        </ion-col>
        <ion-col size="2" text-center>
          <img src="../../assets/imgs/SystemIcons/toggle off.svg" *ngIf=!email />
          <img src="../../assets/imgs/SystemIcons/toggle on.svg" *ngIf=email />
        </ion-col>

      </ion-row>
    </div>
    <div class="detail" item-start>
      <ion-row class="contact" (click)=websiteToggle()>
        <ion-col size="10">
          <img item-start class="e-detail" src="../../assets/imgs/SystemIcons/public event.svg">
          <ion-label class="contact-text">www.worldpeace.com</ion-label>
        </ion-col>
        <ion-col size="2" text-center>
          <img src="../../assets/imgs/SystemIcons/toggle off.svg" *ngIf=!website />
          <img src="../../assets/imgs/SystemIcons/toggle on.svg" *ngIf=website />

        </ion-col>

      </ion-row>
    </div>
    

    <ion-list>
      <ion-list-header (click)="onDropDown()">
        <ion-text>Events Volunteered</ion-text>
        <ion-icon name="arrow-dropdown" size="large" margin-start margin-end></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="showSkill">
        <div>
          <ion-text *ngFor="let skill of event.skills">
            <ion-chip>{{skill}}</ion-chip>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>
    <div class="divide"></div>
    <ion-list>
      <ion-list-header (click)="onDropDown()">
        <ion-text>Events Hosted</ion-text>
        <ion-icon name="arrow-dropdown" size="large" margin-start margin-end></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="showSkill">
        <div>
          <ion-text *ngFor="let skill of event.skills">
            <ion-chip>{{skill}}</ion-chip>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>
    <div class="divide"></div>
    <ion-list>
      <ion-list-header (click)="onDropDown()">
        <ion-text>Skills</ion-text>
        <ion-icon name="arrow-dropdown" size="large" margin-start margin-end></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="showSkill">
        <div>
          <ion-text *ngFor="let skill of event.skills">
            <ion-chip>{{skill}}</ion-chip>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>
    <div class="divide"></div>
    <ion-list>
      <ion-list-header (click)="onDropDown()">
        <ion-text>Interests</ion-text>
        <ion-icon name="arrow-dropdown" size="large" margin-start margin-end></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="showSkill">
        <div>
          <ion-text *ngFor="let skill of event.skills">
            <ion-chip>{{skill}}</ion-chip>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>
  </ion-grid>



</ion-content>