.profile-image{
    height: 90px;
    width: 90px;
    border-radius:45px;
    margin-top:20px
}
.followers {
    width: 80px;
    font-size: 14px;
    text-align: center;
    font-family: "DroidSans" ;
    opacity: 87% ;

}

.name {
    font-size: 20px;
    font-family:"DroidSans";
    font-weight: 90;
}

.info{
    text-align: center;
    font-family: "DroidSans";
    font-size: 10px;
    color: #b2b2b2;
    margin-top:-20px;
}

.titl.label-md {
    margin: 1% 0% 0% 0%;
    color:#212121;
    font-family: "DroidSans";
    font-size: 18px;
    text-align: center;
}

.follow {
    margin-top: 10px;
    margin-bottom:10px;
    border-right: 0.5px solid #b2b2b2;
    height: 50px;
    background-color:green;
}

.padding{
    margin:15px
}
.e-detail{
    height: 20px;
    width:20px;
    padding-right:3px;
    margin-top:2px
}

.contact-text{
    font-size: 0.9em;
    padding-left: 5px;
    padding-top: 2px
}

.detail {
    margin-left: 10px;
}

.divide{          
    border-bottom: 1px solid #b2b2b2  ;
    //min-height:2px;
    height: 1px;
    margin-left: 3.2%;
    margin-right:3.2% ;
}

.follow-icon {
    margin-top:5px;
    height:20px;
    width:20px;
}

.follow-button {
    background-color: #B8EFEC;
    height: 60px;
    margin:10px 0 10px 0;
}

ion-text {
    padding:0%;
    margin:0%;
}
ion-toggle {
    height: 10px;
    width: 20px;
}

ion-col {
    padding: 0%;
    margin: 0%;
}

ion-row {
    padding: 0%;
    margin: 0%;
}
ion-grid {
    padding: 0%;
    margin: 0%;
}
