.profile-image{
    height: 112px;
    width: 112px;
    border-radius:56px;
    margin-top:12px
}
.followers {
    width: 80px;
    font-size: 13px;
    text-align: center;
    font-family: "DroidSans" ;
    opacity: 87% ;

}

.toggle {
    height: 24px;
    width: 24px;
}

.name {
    font-size: 20px;
    font-family:"DroidSans";
    font-weight: 90;
}

.info{
    text-align: center;
    font-family: "DroidSans";
    font-size: 10px;
    color: #b2b2b2;
    margin-top:-20px;
}

// .titl.label-md {
//     margin: 1% 0% 0% 0%;
//     color:#212121;
//     font-family: "DroidSans";
//     font-size: 18px;
//     text-align: center;
// }

.follow {
    margin-top: 10px;
    margin-bottom:10px;
    border-right: 0.5px solid #b2b2b2;
    height: 50px;
    background-color:green;
}

.padding{
    margin:15px
}
.e-detail{
    height: 16px;
    width:16px;
    margin-right:3px;
    // padding-top:2px;
}

.contact-text{
    font-size: 0.9em;
    padding-left: 5px;
    // padding-top: 2px;
    font-family: "DroidSans";
    font-size: 13px;
}

.detail {
    margin-left: 10px;
}

.divide{          
    border-bottom: 1px solid #b2b2b2  ;
    //min-height:2px;
    height: 1px;
    margin-left: 3.2%;
    margin-right:3.2% ;
}

.follow-icon {
    margin-top:5px;
    height:20px;
    width:20px;
}

.follow-button {
    background-color: #B8EFEC;
    height: 60px;
    margin:10px 0 10px 0;
}

.following-button {
    height: 60px;
    margin:10px 0 10px 0;
}

ion-text {
    padding:0%;
    margin:0%;
    font-family: "DroidSans";
    font-size: 13px;
}
ion-toggle {
    height: 10px;
    width: 20px;
}

ion-col {
    padding: 0%;
    margin: 0%;
}

ion-row {
    padding: 0%;
    margin: 0%;
}
ion-grid {
    padding: 0%;
    margin: 0%;
}
ion-label {
    font-family: "DroidSans";
    font-size: 13px;
}

.text {
    font-family: "DroidSans";
    font-size: 13px;
}

ion-item.md ion-item.ios {
    width:100%;
    padding: 0px
}

.card-icon {
    height: 24px;
    width: 24px;
    opacity: 87%;
    padding-left: 2px;
}

.small-icon {
    height:16px;
    width:16px
}
.filter-icon {
    height: 40px;
    width: 40px;
}
.subtext{
    font-size: 14px;
    opacity: 60%;   
    font-family: "DroidSans"; 
    padding:0px
   // line-height: 12.2px;     
}

.infoe{
    font-size: 14px;
    font-family: "DroidSans"; 
    margin-left:10px
   
}
p{
    padding:0px;
    margin-top: -5px
}

.subtitle{
    margin:0 3px 18px;
    font-size: 18px ;
    margin: 0 0px 0px;
    color:#212121;
    font-family: "DroidSans";
    font-weight: 100; //line-height: 24.2px;
    padding:0px
}
.no-padding {
    padding: 0px
}
.borders {
    border-top: 0.5px solid ;
    border-bottom: 0.5px solid;
    border-color: gray;
}
ion-searchbar {
    padding: 0
}
ion-row ion-col ion-grid {
    padding: 0px;
    margin:0px
}

label {
    font-family: "DroidSans";
    font-size: 14px;
    margin: 0px;
    padding:0px;
}

ion-list {
    padding: 0px
}
