<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <img src="../../assets/imgs/SystemIcons/arrow_back.svg" class="default-icon" />
    </ion-buttons>

    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
            <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" align-items-center>
       <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
       <small class="time">5 min</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
            <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" align-items-center>
       <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
       <small class="time">5 min</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
            <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" align-items-center>
       <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
       <small class="time">5 min</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
            <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" align-items-center>
       <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
       <small class="time">5 min</small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>