default-icon {
    height: 20px;
    width: 20px;
}

.image {
    height: 60px;
    width: 60px;
    border-radius: 30px
}

ion-text {
    font-family: "DroidSans";
    font-size: 13px;
    
}

.time {
    font-family: "DroidSans";
    font-size: 10px;
    color:rgb(153, 153, 153);
}