<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary" margin-start>
      <img src="../../assets/imgs/SystemIcons/arrow_back.svg" [routerLink]="['/tab/home']"
        routerLinkActive="router-link-active" />
    </ion-buttons>

    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" offset-md="2">
        <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" size-md="5" align-items-center>
        <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
        <small class="time">5 min</small>
      </ion-col>
      <div class="sub-icon">
        <img src="../../assets/imgs/category- senior citizen.svg" />
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset-md="2">
        <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" size-md="5" align-items-center>
        <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
        <small class="time">5 min</small>
      </ion-col>
      <div class="sub-icon">
        <img src="../../assets/imgs/category- senior citizen.svg" />
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset-md="2">
        <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" size-md="5" align-items-center>
        <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
        <small class="time">5 min</small>
      </ion-col>
      <div class="sub-icon">
        <img src="../../assets/imgs/category- senior citizen.svg" />
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset-md="2">
        <img src="../../assets/imgs/category - spiritual.svg" class="image" />
      </ion-col>
      <ion-col size="10" size-md="5" align-items-center>
        <ion-text><b>Name</b> wants to join the event wants to join the event<br></ion-text>
        <small class="time">5 min</small>
      </ion-col>
      <div class="sub-icon">
        <img src="../../assets/imgs/category- senior citizen.svg" />
      </div>
    </ion-row>
  </ion-grid>
</ion-content>